<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.order.infra.mapper.OrderMapper">
    <select id="selectOrder" parameterType="org.hzero.order.domain.entity.SoHeader" resultType="org.hzero.order.api.dto.OrderSummaryDTO">
        SELECT co.company_name, cu.customer_name, so_header_id, order_status, order_date,m.money, h.order_number
        FROM hodr_so_header h,hodr_company co,hodr_customer cu,
        (SELECT SUM(unit_selling_price*order_quantity) money ,so_header_id id FROM hodr_so_line GROUP BY so_header_id)m
        WHERE  co.company_id = h.company_id AND cu.customer_id = h.customer_id AND m.id= h.so_header_id
                <if test="companyId != null ">
                    AND  h.company_id =#{companyId}
                </if>
                <if test="customerId != null ">
                    AND h.customer_id =#{customerId}
                </if>
                <if test="orderStatus != null ">
                    AND h.order_status =#{orderStatus}
                </if>
                <if test="orderNumber != null ">
                    AND h.order_number =#{orderNumber}
                </if>
                <if test="soHeaderId != null ">
                    AND h.so_header_id =#{soHeaderId}
                </if>
    </select>

    <select id="selectOrderById" parameterType="java.lang.Long" resultType="org.hzero.order.api.dto.OrderDTO">
        SELECT co.company_name, cu.customer_name, so_header_id, order_status, order_date,m.money, h.order_number
        FROM hodr_so_header h,hodr_company co,hodr_customer cu,
        (SELECT SUM(unit_selling_price*order_quantity) money ,so_header_id id FROM hodr_so_line GROUP BY so_header_id)m
        WHERE  co.company_id = h.company_id AND cu.customer_id = h.customer_id AND m.id= h.so_header_id AND h.so_header_id = #{id}
    </select>


</mapper>
